body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #87baab;
    color: #512D38;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

main {
    padding: 20px;
}

#breed-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#breed-list li {
    flex: 0 0 calc(23% - 2%);
    box-sizing: border-box;
    padding: 2%;
    margin: 1%;
    text-align: center;
    background-color: #512D38;
}

#breed-list li:hover {
    border: #f4bfdb 1px solid;
}

a {
    color: #f4bfdb;
    text-decoration: none;
}
#footer-link {
    color: #512D38;
    text-decoration: underline;
}

#breed-pic {
    width: 30%;
    border-radius: 50%;
    border-color: #512D38;
    border-style: dotted;
}

.breed-info {
    margin-right: 10%;
    margin-left: 10%;
    border: 1px #512D38 solid;
    padding: 1%;
}

#back-button {
    padding: 1%;
    background-color: #512D38;
    color: #f4bfdb;
    border: none;
    margin-bottom: 3%;
}

#back-button:hover {
    border: #f4bfdb 1px solid;
}
@media (max-width: 768px) {
    #breed-list li {
        flex: 0 0 calc(48% - 2%);
    }
    #breed-pic {
        width: 40%;
    }
}
